.body {
    background: #282B38;
    color: #fff;
    font-family: "ProximaNova";
    font-weight: 300;
}

.btn-primary {
    background-color: #E58D35;
    color: #FFF;
    border-radius: 90px;
}